/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Solex";
  src: url('../fonts/solexreg-webfont.woff') format('woff');
}

@font-face {
  font-family: "JandA";
  src: url('../fonts/jandasafeandsoundsolid-webfont.woff') format('woff');
}

body {
  font-family: "Solex";
  color: #777472;
  font-size: 18px;
  position: relative;
}

a {
  color: #ce0c17;
}
a:visited {
  color: #ce0c17;
}
a:focus {
  color: #ce0c17;
}
a:hover {
  color: #ce0c17;
}
a:active {
  color: #ce0c17;
}

header {
  background: url("../images/header.png");
  width: 894px;
  height: 475px;
}

h1 {
  font-family: "JandA";
  color: #ce0c17;
  font-size: 21px;
  margin: 0 0 1em 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.5em;
}
li:before {
  content: "•";
  padding-right: 5px;
  color: #ce0c17;
}

#requirements,
#profile,
#job,
#application {
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  /* this is dumb, but it seems impossible to animate anything else than absolute positionned elements */
  position: absolute;
}

#requirements {
  background: #f2f1ec;
  width: 894px;
  height: 600px;
  top: 475px;
}

#profile,
#job,
#application {
  left: 80px;
}

#profile {
  top: 50px;
  -webkit-animation-name: moveToBox1;
}

@-webkit-keyframes moveToBox1 {
  75% {
    opacity: 1;
  }

  to {
    font-size: 0;
    opacity: 0;
    top: -160px;
    left: 1000px;
  }
}

#job {
  top: 304px;
  /* #profile's top + #profile's height + margin = $defaultMargin + 204px + $defaultMargin */
  -webkit-animation-name: moveToBox2;
}

@-webkit-keyframes moveToBox2 {
  75% {
    opacity: 1;
  }

  to {
    font-size: 0;
    opacity: 0;
    top: -160px;
    left: 1500px;
  }
}

#application {
  top: 504px;
  /* #job's top + #job's height + margin = 304px + 150px + $defaultMargin */
  -webkit-animation-name: moveToBox3;
}

@-webkit-keyframes moveToBox3 {
  75% {
    opacity: 1;
  }

  to {
    font-size: 0;
    opacity: 0;
    top: -160px;
    left: 2000px;
  }
}

#requirements {
  -webkit-animation-name: grass;
}

@-webkit-keyframes grass {
  to {
    background: green;
    height: 100px;
    width: 2300px;
    top: 353px;
  }
}

.box {
  border: 2px solid black;
  border-radius: 5px;
  background: #ffc70c;
  color: black;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 190px;
}

#box1 {
  left: 1000px;
}

#box2 {
  left: 1500px;
}

#box3 {
  left: 2000px;
}

#arrows {
  width: 70px;
  height: 50px;
  background-image: url("../images/arrows.png");
  position: absolute;
  top: 208px;
  left: 756px;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: disappear;
}

@-webkit-keyframes disappear {
  to {
    opacity: 0;
  }
}

/*
#manu {
width: 50px;
height: 72px;
background-image: url("../images/sprite.png");

-webkit-animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
from { background-position:    0px; }
to { background-position: -500px; }
}
*/
#manu {
  width: 70px;
  height: 100px;
  background-image: url("../images/manu.png");
  position: absolute;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: jumpnrun;
}

@-webkit-keyframes jumpnrun {
  from {
    top: 261px;
    left: 758px;
  }

  66% {
    top: 261px;
    left: 982px;
  }

  82% {
    top: 227px;
    left: 982px;
  }

  to {
    top: 261px;
    left: 982px;
  }
}

@-webkit-keyframes jumpnrun2 {
  from {
    top: 261px;
    left: 982px;
  }

  66% {
    top: 261px;
    left: 1482px;
  }

  82% {
    top: 227px;
    left: 1482px;
  }

  to {
    top: 261px;
    left: 1482px;
  }
}

#box1 {
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: expand;
}

@-webkit-keyframes expand {
  from {
    width: 30px;
    height: 30px;
  }

  to {
    top: 10px;
    left: 765px;
    /* #box1's left - 1/2 this width + 1/2 .box width = $box1_x - 250px + 15px */
    width: 500px;
    height: 170px;
    /* .box's top - this top + .box's height - .expanded's padding = $box_y - 10px + 30px - 40px */
  }
}

@-webkit-keyframes shrink {
  /* reverse from expand */
  from {
    top: 10px;
    left: 765px;
    width: 500px;
    height: 170px;
  }

  to {
    width: 30px;
    height: 30px;
  }
}

#box1.expanded {
  font-size: 18px;
  text-align: left;
  overflow-y: scroll;
  padding: 20px;
}
