@import "compass/reset";
@import "compass/typography/links/link-colors";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

// style variables

$darkRed: #ce0c17;
$fontSize: 18px; // match the PDF
$boxSize: 30px;
$boxBorderSize: 2px;
$defaultMargin: 50px;
$expandedBoxPadding: 20px;

// positioning variables

$box1_x: 1000px;
$box2_x: $box1_x + 500px;
$box3_x: $box2_x + 500px;
$box_y: 190px;
$manu_x: 758px; // match to PDF
$manu_y: 261px; // match to PDF
$feet_y: 340px; // to more or less touch the feet of the cartoon characters in header.png

// animation variables

$animStart: 5s; // first animation starts after $animStart seconds
$animDurationToMoveOriginalTextToBoxes: 4s;
$animDurationToMakeArrowsDisappear: 1s;
$animDurationToRunAndJump: 3s; // 2s run, 1s jump
$animDurationToExpandBox: 2s;

$numberOfSprites: 2;
$spriteWidth: image-width("sprite.png") / $numberOfSprites;

// special fonts

@include font-face("Solex", font-files("solexreg-webfont.woff")); // yup, I haven't paid for it, but it's only used for this job application (so it's life expectancy is about 10min)
@include font-face("JandA", font-files("jandasafeandsoundsolid-webfont.woff")); // same here
@include font-face("ComingSoon", font-files("comingsoon-webfont.woff")); // same here
@include font-face("zocial", font-files("zocial-regular-webfont.woff"));

body {
  font-family: "Solex";
  color: #777472;
  font-size: $fontSize;
  position: relative;
  //background: #407700 url("../images/sky.png") repeat-x top;
}

a {
  @include link-colors($darkRed, $darkRed, $darkRed, $darkRed, $darkRed);
}

header {
  background: url("../images/header.png");
  width: image-width("header.png");
  height: image-height("header.png");
}

footer {
  background: blue url("../images/footer.png");
  width: image-width("footer.png");
  height: image-height("footer.png");
  position: absolute;
  top: image-height("grass.png") + $feet_y;
}

h1 {
  font-family: "JandA";
  color: $darkRed;
  font-size: 21px; // match the PDF
  margin: 0 0 1em 0; // match the PDF
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -0.6em;
  line-height: 1.5em;

  &:before {
    content: "•";
    padding-right: 5px;
    color: $darkRed;
  }
}

button {
  border: 0;
  color: white;
  background: $darkRed;
  font-family: "Solex";
  font-size: 1.5em;
  @include border-radius(3px);
  float: right;
  margin: 1em;

  &:after {
    content: " ►";
  }
}

#hello {
  $width: 250px;

  position: absolute;
  top: 20px; // arbitrary
  left: ($manu_x + $spriteWidth / 2) - ($width / 2);

  width: $width;
  background: $darkRed;
  @include border-radius(10px);
  @include single-box-shadow(#808080);
  text-align: center;
  
  div:first-child {
    h1, p {
      padding: 5px;
      color: #fff;
      font-family: Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: .2em;
    }
    h1 {
      margin: 0;
      font-size: 2em;
    }
  }
  .name {
    background: #fff;    
    line-height: 2em;
    font-family: "ComingSoon";
    font-size: 3em;
    @include border-radius(0 0 10px 10px);
  }

  opacity: 0;
  -webkit-animation-delay: $animStart / 2; // must just be smaller than $animStart
  -webkit-animation-duration: $animStart + $animDurationToMoveOriginalTextToBoxes + $animDurationToMakeArrowsDisappear - 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: showAndHide;
}

@-webkit-keyframes showAndHide {
  // show, stay visible for a while, hide
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// as soon as the name tag is shown, Manu is not anonymous anymore => hide the "?"
#unknown {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 15px; // match PDF file

  -webkit-animation-delay: $animStart; // see #hello
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: disappear;
}

@-webkit-keyframes disappear {
  to {
    opacity: 0;
  }
}

#requirements,
#profile,
#job,
#application {
  -webkit-animation-delay: $animStart;
  -webkit-animation-duration: $animDurationToMoveOriginalTextToBoxes;
  -webkit-animation-fill-mode: both;

  /* this sucks, but it seems impossible to animate anything else than absolutely positionned elements */
  position: absolute;
}

#requirements {
  width: image-width("footer.png");
  height: image-height("grass.png");
  top: image-height("header.png");
}

#profile,
#job,
#application {
  left: 80px; // match PDF file
}

@mixin moveToBoxAnimation($name, $x) {
    @-webkit-keyframes $name {
      75% {
        opacity: 1;
      }
      to {
        font-size: 0;
        opacity: 0;
        top: - $feet_y + $box_y; // looks weird, but that's because it's relative to #requirements position after its transformation into grass ;)
        left: $x;
      }
    }
}

$profileHeight: 204px;
#profile {
  top: $defaultMargin; // relative to #requirements
  -webkit-animation-name: moveToBox1;
}
@include moveToBoxAnimation("moveToBox1", $box1_x);

$jobHeight: 150px;
#job {
  top: $defaultMargin + $profileHeight + $defaultMargin; // relative to #requirements
  -webkit-animation-name: moveToBox2;
}
@include moveToBoxAnimation("moveToBox2", $box2_x);

#application {
  top: $defaultMargin + $profileHeight + $defaultMargin + $jobHeight + $defaultMargin; // relative to #requirements
  -webkit-animation-name: moveToBox3;
}
@include moveToBoxAnimation("moveToBox3", $box3_x);

#requirements {
  -webkit-animation-name: grass;
}

@-webkit-keyframes grass {
  80% {
    background: url("../images/greyTile.png"); // must use a background image instead of a color for the transition to work...
  }
  81% {
    background: #407700;
  }
  to {
    background: url("../images/grass.png");
    width: $box3_x + 500px; // arbitrary, but bigger than $box3_x
    top: $feet_y;
  }
}

.box {
  border: $boxBorderSize solid black;
  border-radius: 5px;
  background: #FAE499;
  color: black;
  width: $boxSize;
  line-height: $boxSize;
  text-align: center;
  font-size: $boxSize;
  position: absolute;
  top: $box_y;

  &.expanded {
    font-size: $fontSize;
    text-align: left;
    overflow-y: scroll;
    padding: $expandedBoxPadding;
  }
}

#box1 {
  left: $box1_x;
}

#box2 {
  left: $box2_x;
}

#box3 {
  left: $box3_x;
}

#arrows {
  width: image-width("arrows.png");
  height: image-height("arrows.png");
  background-image: url("../images/arrows.png");
  position: absolute;
  top: 208px; // match the PDF
  left: 756px; // match the PDF

  -webkit-animation-delay: $animStart + $animDurationToMoveOriginalTextToBoxes;
  -webkit-animation-duration: $animDurationToMakeArrowsDisappear;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: disappear; // re-use an existing animation
}

#manu {
  width: $spriteWidth;
  height: image-height("sprite.png");
  background-image: url("../images/sprite.png");
  background-position: 0 0;
  position: absolute;

  -webkit-animation-delay: $animStart + $animDurationToMoveOriginalTextToBoxes + $animDurationToMakeArrowsDisappear;
  -webkit-animation-duration: $animDurationToRunAndJump;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: jumpnrun1;
}

@mixin runAndJumpAnimation($name, $start_x, $end_x) {
    @-webkit-keyframes $name {
      from {
        top: $manu_y;
        left: $start_x;
      }

      // sprite run animation till 66%
      @for $i from 1 through 16 {
        #{$i * 4%} {
          background-position: -(($i - 1) % $numberOfSprites) * $spriteWidth;
          -webkit-animation-timing-function: step-start;
        }
      }

      66% { // run for 2/3 of the time
        background-position: 0;
        top: $manu_y;
        left: $end_x;
      }
      // jump
      82% {
        top: $box_y + $boxSize + 2 * $boxBorderSize - 4px; // there are 4px of white on top of Manu's head in sprite.png (TODO: remove?)
        left: $end_x;
      }
      to {
        background-position: 0;
        top: $manu_y;
        left: $end_x;
      }
    }
}

@function afterRun_x($targetBox_x) {
    @return ($targetBox_x + $boxSize / 2 + $boxBorderSize) - ($spriteWidth / 2);
}

$afterFirstRun_x: afterRun_x($box1_x);
@include runAndJumpAnimation("jumpnrun1", $manu_x, $afterFirstRun_x);

$afterSecondRun_x: afterRun_x($box2_x);
@include runAndJumpAnimation("jumpnrun2", $afterFirstRun_x, $afterSecondRun_x); // triggered via JavaScript when button is clicked

$afterThirdRun_x: afterRun_x($box3_x);
@include runAndJumpAnimation("jumpnrun3", $afterSecondRun_x, $afterThirdRun_x); // triggered via JavaScript when button is clicked

#box1 {
  -webkit-animation-delay: $animStart + $animDurationToMoveOriginalTextToBoxes + $animDurationToMakeArrowsDisappear + 0.9 * $animDurationToRunAndJump;
  -webkit-animation-name: expand1;
}

@mixin boxResizeAnimation($iteration, $box_x) {
  $expandedWidth: 500px;
  $expanded_y: 10px;

  $left: $box_x - $expandedWidth / 2 + $boxSize / 2;
  $height: $box_y - $expanded_y + $boxSize - 2 * $expandedBoxPadding;

  #box#{$iteration} {
    -webkit-animation-duration: $animDurationToExpandBox;
    -webkit-animation-fill-mode: both;
  }

  @-webkit-keyframes expand#{$iteration} {
    from {
      width: $boxSize;
      height: $boxSize;
    }
    to {
      top: $expanded_y;
      left: $left;
      width: $expandedWidth;
      height: $height;
    }
  }

  @-webkit-keyframes shrink#{$iteration} {
    // reverse from expand. Is there a better way? Tried without success with animation-direction: reverse
    from {
      top: $expanded_y;
      left: $left;
      width: $expandedWidth;
      height: $height; 
    }
    to {
      width: $boxSize;
      height: $boxSize;
    }
  }
}
@include boxResizeAnimation(1, $box1_x);
@include boxResizeAnimation(2, $box2_x);
@include boxResizeAnimation(3, $box3_x);

// social links

#social {
  a {
    border: 0;
    text-decoration: none;
  }

  li {
    display: inline;
    font-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    text-indent: 0;
    line-height: 1.5em;

    &:before {
      content: "";
      padding: 0;
    }
  }

  .zocial-email:before{content:"]"}
  .zocial-facebook:before{content:"f"}
  .zocial-github:before{content:"g"}
  .zocial-googleplus:before{content:"+"}
  .zocial-instagram:before{content:"\00DC"}
  .zocial-linkedin:before{content:"L"}
  .zocial-pinboard:before{content:"n"}
  .zocial-twitter:before{content:"T"}

  [class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
  }
}